body
{
    color: #0c0026;
    text-align: center;
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background-color: #3a09a2;
    box-shadow: 0px 5px 10px 0px rgba(67, 28, 185, 0.75);
    color: #d21363;
    font-weight: bold;
    margin: 0;
    padding:0.5em;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #000000;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}